.containers{
    max-width: 85%;
    margin: 0 auto;
    padding: 0;
}
#header{
    /*margin-bottom: 1em;*/
}
.content_header_two{
    background-color: #252525;
    padding: 0.5em;
}
.content_header_two .container-fluid .login li a{
    color: #ffffff;
}
.content_header_two .container-fluid .login li .no-hover:hover{
    background-color: #252525;
    color: #000000;
}
.content_header_two .container-fluid .login li a:hover{
    color: #000000;
    background-color: #ffffff;
}
.content_header_two .container-fluid .login li .dropdown-menu{
    background-color: #252525;
}
.content_header_two .container-fluid .login li .dropdown-menu .dropdown-item:hover{
    background-color: #ffffff;
}
.form-search{
}
.total{
    border-radius: 50%;
    background: red;
    padding: 0 0.4em;
    color: white;
}
/*.cart{*/
/*margin-top: 4%;*/
/*}*/
.nav_sidebar{
    border: 2px solid #1a87f4;
}
#slide_top{
    z-index: 0;
}
.side_bar{
    margin-bottom: 0.5em;
    margin-top: 1em;
}
#footer{
    border-top: 5px solid #000000;
    background-color: #f5f5f5;
    color: #000000;
    margin-top: 1em;
}
#footer .footer-content-one .col-md-2 ul li a,
#footer .footer-content-one .col-md-3 ul li a {
    color: #000000;
}
#footer .footer-content-one{
    padding-top: 1em;
    width: 90%;
    margin: 0 auto;
}
/*.cart-list a:hover{*/
/*text-decoration: none;*/
/*color: #000000;*/
/*}*/
/*.cart-list a{*/
/*color: #000;*/
/*}*/
.content_header_three{
    background-color: #616161;
}
.content_header_three a{
    color: #fff;
    font-size: 16px;
}
.content_header_three .dropdown-menu{
    background-color: #616161;
}
.content_header_three .dropdown-menu .dropdown-item:hover{
    background-color: #ffffff;
    color: #000000;
}

.title-danger{
    color: red;
}

#imgsearch {
  width: 10%;
  height: 40px;
}

.resultsearch {
  width: 400px;
  border-radius: 2px;
}

.resultsearch:hover {
  background-color: #F1F7F1;
}

.custom-widthsearch {
  width: 200% !important;
}

.titlesearch {
  width: 88%;
  float: right;
}

#tlsearch {
  font-size: 14px;
  color: #505050;
  margin-bottom: 6px;
}

.prsearch {
  font-size: 14px;
  font-weight: bold;
  color: #d0021b;
}

.smsearch {
  margin-top: 5px;
}
