#name {
    color: #333;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif !important;
}

.item_price {
    color: #575757;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
}

.rating1 i {
    color: #fbff00;
    margin-bottom: 0.3em;
}

#qty {
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

#qty span {
    padding-right: 1em;
}



#qty{
    width: 100%;
    margin: 20px 0px;
}
#qty P{
    margin-bottom: 20px;
}
#qty input{
    width: 50px;
    text-align: center;
    height: 35px;
}
#qty button{
    background-color: #ffffff;
    border: none;
}
#qty button i{
    font-size: 20px;
}
#qty p
{
    display: inline-table;
}



.block-note-product {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.block-note-product li {
    padding: 1em 1em;
    border-bottom: 1px solid #eff0f5;
    width: 100%;
}

.block-note-product li label {
    color: #838282;
}

.block-note-product li .xem-chi-tiet {
    color: #000000;
    text-decoration: none;
}

.banner {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner img {
    margin: 0.4em 0;
    padding: 0;
    width: 100%;
}
